<html>
    <!-- Example using parameters.  -->
    <!-- Hello, {{ greetings }}!  -->

    <div style="
        text-align: center; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 500px;
        height: 120px; 
        border: 6px solid blue;
        border-radius: 10px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -73px;
        margin-left: -263px;
    ">
        Hello world from Malaga University Cloud Development subject. 
        <br><br>
        We are still working on this project. 
        <br><br>
        You can see our code on Github: <br> <a style="color:blue;" href="https://github.com/DRTorresRuiz/LaCazaDelTesoro"> La Caza del Tesoro repository</a>
    </div>
</html>