{% extends "base_generic.html" %}

{% block content_page %}

  {% block info_button %}
  <script>
    function info() {
      Swal.fire({
        title: '<strong>Really? Do I have to write the coordinates for each bound?</strong>',
        icon: 'question',
        html:
          "If you want of course. However, normal people <b>double click on the map</b> to select the play area. ",
        focusConfirm: true,
        confirmButtonText:
          '<i class="fa fa-thumbs-up"></i> Great!',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
          '<i class="fa fa-thumbs-down"></i>',
        cancelButtonAriaLabel: 'Thumbs down'
      });
    }
  </script>
  {% endblock %}

  <table style="margin-bottom: 10px">
    <tr>
      <td style="width: 400px;" class="border border-secondary rounded shadow p-3 bg-white">
        {% load widget_tweaks %}
        <h2>New Game</h2><br>
        <form method="POST" class="post-form" enctype="multipart/form-data" novalidate>{% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
          </div>
          {% endif %}
          {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}

            {% if form.is_bound %}
            {% if field.errors %}
            {% render_field field class="form-control is-invalid" style="margin-bottom: 5px" %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field field class="form-control is-valid" style="margin-bottom: 5px" %}
            {% endif %}
            {% else %}
            {% render_field field class="form-control" style="margin-bottom: 5px" %}
            {% endif %}

            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" id="btn-save" class="save btn btn-success" disabled>Save</button>
          <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
      </td>
      <td style="vertical-align: top; width: 600px;">
        <div id="map">
          <p>Click on the map to add marker.</p>
        </div>
      </td>
    </tr>
  </table>
  
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet?text=I%20have%20created%20a%20game%20in%20@CazaLa"
    data-size="large">
    Tweet
  </a>

  <script>
    // This example adds a user-editable rectangle to the map.
    // When the user changes the bounds of the rectangle,
    // an info window pops up displaying the new bounds.

    var rectangle;
    var map;
    var infoWindow;

    function getRectangleBounds() {
      var ne = rectangle.getBounds().getNorthEast();
      var sw = rectangle.getBounds().getSouthWest();

      document.getElementById("id_north_east_bound_0").value = ne.lat();
      document.getElementById("id_north_east_bound_1").value = ne.lng();
      document.getElementById("id_south_west_bound_0").value = sw.lat();
      document.getElementById("id_south_west_bound_1").value = sw.lng();
    }

    function setRectangle(lat, lng) {

      var bounds = {
        north: lat + 0.001,
        south: lat - 0.001,
        east: lng + 0.001,
        west: lng - 0.001,
      };

      // Define the rectangle and set its editable property to true.
      rectangle = new google.maps.Rectangle({
        bounds: bounds,
        editable: true,
        draggable: true
      });

      rectangle.setMap(map);
      getRectangleBounds();

      // Add an event listener on the rectangle.
      rectangle.addListener('bounds_changed', showNewRect);
    }

    function initMap() {
      $('#id_north_east_bound_0').parent().hide()
      $('#id_south_west_bound_0').parent().hide()
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 36.7090448, lng: -4.4791599 },
        zoom: 15,
        disableDoubleClickZoom: true
      });

      map.addListener('dblclick', function (e) {
        if (rectangle) { rectangle.setMap(null); }
        setRectangle(e.latLng.lat(), e.latLng.lng());
        document.getElementById("btn-save").disabled = false;
      });

      // Define an info window on the map.
      infoWindow = new google.maps.InfoWindow();
    }
    // Show the new coordinates for the rectangle in an info window.

    /** @this {google.maps.Rectangle} */
    function showNewRect(event) {
      getRectangleBounds();
      var ne = rectangle.getBounds().getNorthEast();
      var sw = rectangle.getBounds().getSouthWest();

      var contentString = '<b>Rectangle moved.</b><br>' +
        'New north-east corner: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
        'New south-west corner: ' + sw.lat() + ', ' + sw.lng();

      // Set the info window's content and position.
      infoWindow.setContent(contentString);
      infoWindow.setPosition(ne);

      infoWindow.open(map);
    }
  </script>
  
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?address=Placename&key=AIzaSyAHCaVnPMaUAjAtjpINPxhmHfsr5876u6k&callback=initMap">
  </script>

{% endblock %}