<!DOCTYPE html>
<html>
 <head>
  <style>
   /* Set the size of the div element that contains the map */
   #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
  </style>
 </head>
 <body>
 <h1>{{ game.name }}</h1>
 <div id="map"></div>
 <script>
 function initMap() {
  var center = {lat: 0.0, lng: 0.0};
  var map = new google.maps.Map(
  document.getElementById('map'), {zoom: 10, center: center});
  var marker = new google.maps.Marker({position: center, map: map}); 
  var markers = []
  {% for treasure in all_treasures %}
  var position = {lat: {{ treasure.position.latitude }}, lng: {{ treasure.position.longitude }}};
  {% if treasure in found_treasures %}
  var treasure_marker = new google.maps.Marker({position: position, map: map, icon: {
   url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
  }});
  {% else %}
  var treasure_marker = new google.maps.Marker({position: position, map: map, icon: {
    url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
  }});
  {% endif %}
  markers.push(treasure_marker);
  {% endfor  %}
  var markerClusterer = new MarkerClusterer(map, markers);
 }
 </script>
 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHCaVnPMaUAjAtjpINPxhmH    fsr5876u6k&callback=initMap">
 </script>
{% if game.creator.username == user.username %}
<table>
 <tr>
  <th>Player</th>
  <th>Found Treasures</th>
 </tr>
 {% if game.player %}
 {% for player in game.player.all %}
 <tr>
 <td>{{ player.username }}</td>
 <td>
   <ul>
    {% for treasure in found_treasures_obj %}
    {% if treasure.player == player %}
     <li>{{ treasure.treasure_id.name }}</li>
    {% endif %}
    {% endfor %}
   </ul>
 </td>
 </tr>
 {% endfor %}
 {% else %}
 <tr><td>No players</td><td></td></tr>
 {% endif %}
</table>
<div>
<h3>Not found treasures</h3>
<table>
{% for treasure in all_treasures %}
{% if treasure not in found_treasures %}
 <tr><td>{{ treasure.name }}</td><td><a href="{{ treasure.get_found_url }}">I found it!</a></td></tr>
{% endif %}
{% endfor %}
</table>
</div>
{% endif %}
{% include "chat/room.html" %}

 </body>
</html>
