{% extends "base_generic.html" %}

{% block content %}
  <h1>Home Page</h1>
  <p>Welcome to home page of the Malaga University Cloud Development Project by <em>Grupo K</em>!</p>
  <h2>Dynamic content of Games</h2>
  <p>The Game has the following record counts:</p>
  <ul>
    <li><strong>Games active:</strong> {{ num_games_active }}</li>
    <li><strong>Games finished:</strong> {{ num_games_finished }}</li>
    <li><strong>Winners:</strong> {{ num_winners }}</li>
  </ul>
<h2>Games</h2>
<!-- 
<p>To add a caption to a table, use the caption tag.</p>
-->

<div>
	<a class="btn btn-primary" href="{% url 'create' %}">Create a game</a>
</div>
<div class="accordion" id="panelGames">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My Games Joined
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#panelGames">
      <div class="card-body">
            <table id="dtJoinedGames" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
              <thead>
                <tr>
                    <th class="th-sm">Game</th>
                    <th class="th-sm">Status</th>
                    <th class="th-sm">Winner</th>
                    <th class="th-sm">Leave</th>
                    <th class="th-sm">Play</th>
               </tr>
              </thead>
              <tbody>
                {% for game in games_joined  %}
                <tr>
                 <td>{{ game.name }}</td>
                {% if game.status == 2 %}
                 <td>Active</td>
                {% else %}
                 <td>Finished</td>
                {% endif %}
                {% if game.winner is None %}
                 <td>No winner yet.</td>
                {% else %}
                 <td>{{game.winner}}</td>
                {% endif %}
                {% if user in game.player.all and game.status == 2 %}
                 <td><a href="{{ game.get_leave_url }}">Leave</a></td>
                {% else %}
                 <td></td>
                {% endif %}
                {% if user in game.player.all and game.status == 2 %}
                 <td><a href="/Game/play/{{ game.id }}/"><i class="fa fa-play-circle-o" style="font-size:36px;"></i></a></td>
                {% else %}
                 <td></td>
                {% endif %}
                </tr>
            {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
  </div>
<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          My Games Created
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#panelGames">
      <div class="card-body">
            <table id="dtCreatedGames" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
              <thead>
                <tr>
                    <th class="th-sm">Game</th>
                    <th class="th-sm">Status</th>
                    <th class="th-sm">Winner</th>
                    <th class="th-sm">Number of Treasures</th>
                    <th class="th-sm"></th>
               </tr>
              </thead>
              <tbody>
                {% for game in games_created  %}
                <tr>
                 <td>{{ game.name }}</td>
                {% if game.status == 2 %}
                 <td>Active</td>
                {% else %}
                 <td>Finished</td>
                {% endif %}
                {% if game.winner is None %}
                 <td>No winner yet.</td>
                {% else %}
                 <td>{{game.winner}}</td>
                {% endif %}
                 <td>{{ game.count_treasures }}</td>
                 <td><a href="/Game/control/{{ game.id }}/">View</a></td>
                </tr>
            {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          All Games
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#panelGames">
      <div class="card-body">
            <table id="dtAllGames" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
              <thead>
                <tr>
                    <th class="th-sm">Game</th>
                    <th class="th-sm">Status</th>
                    <th class="th-sm">Winner</th>
                    <th class="th-sm">Join</th>
                    <th class="th-sm">Play</th>
               </tr>
              </thead>
              <tbody>
                {% for game in games  %}
                <tr>
                 <td>{{ game.name }}</td>
                {% if game.status == 2 %}
                 <td>Active</td>
                {% else %}
                 <td>Finished</td>
                {% endif %}
                {% if game.winner is None %}
                 <td>No winner yet.</td>
                {% else %}
                 <td>{{game.winner}}</td>
                {% endif %}
                {% if user in game.player.all and game.status == 2 %}
                 <td><a href="{{ game.get_leave_url }}">Leave</a></td>
                {% elif game.status == 2 %}
                 <td><a href="{{ game.get_join_url }}">Join</a></td>
                {% else %}
                 <td></td>
                {% endif %}
                {% if user in game.player.all and game.status == 2 %}
                 <td><a href="/Game/play/{{ game.id }}/"><i class="fa fa-play-circle-o" style="font-size:36px;"></i></a></td>
                {% else %}
                 <td></td>
                {% endif %}
                </tr>
            {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

</body>
<script>
$(document).ready(function () {
  $('#dtAllGames').DataTable({
    "paging": true,
    "pageLength": 5,
    "lengthChange": false
    //"lengthMenu": [ 5, 10, 15, 20, 30 ]
  });
  $('#dtJoinedGames').DataTable({
    "paging": true,
    "pageLength": 5,
    "lengthChange": false
  });
   $('#dtCreatedGames').DataTable({
    "paging": true,
    "pageLength": 5,
    "lengthChange": false
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>

{% endblock %}

<!-- 
<p>To add a caption to a table, use the caption tag.</p>
-->
