{% extends "base_generic.html" %}

{% block content_page %}

  {% block info_button %}
    <script>
      function info() {
        Swal.fire({
          title: '<strong>What can I do here?</strong>',
          icon: 'question',
          html:
            "Nothing. This screen only contains a summary of the treasures you have included in the game.",
          focusConfirm: true,
          confirmButtonText:
            '<i class="fa fa-thumbs-up"></i> Great!',
          confirmButtonAriaLabel: 'Thumbs up, great!',
          cancelButtonText:
            '<i class="fa fa-thumbs-down"></i>',
          cancelButtonAriaLabel: 'Thumbs down'
        });
      }
    </script>
  {% endblock %}

  <div style="margin-bottom: 10px;">
    <a class="btn btn-secondary btn-lg" href={% url 'homepage:index' %}>Go home</a>
    <a class="btn btn-primary btn-lg" href={% url 'create' %}>New game</a>
  </div>

  <div class="border border-secondary rounded shadow p-3 bg-white">
    <h1>Treasure List</h1>
    {% if treasure_list %}
    <table cellpadding="10" class="table">
        <tr>
            <th>Name</th>
            <th>Clue</th>
            <th>Position</th>
              <th>Image</th>
        </tr>
      {% for treasure in treasure_list %}
        <tr>
            <td>
              {{ treasure.name }}
            </td>
            <td>
              {{ treasure.clue }}
            </td>
            <td>
              {{ treasure.position }}
            </td>
            <td>
                {% if treasure.treasure_img != '' %}
                  <img src="/media/{{ treasure.treasure_img }}" width="50px" />
                {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are no treasures.</p>
    {% endif %}    
  </div>

  <div style="margin-top: 10px;">
    <a class="btn btn-secondary btn-lg" href={% url 'homepage:index' %}>Go home</a>
    <a class="btn btn-primary btn-lg" href={% url 'create' %}>New game</a>
  </div>
  
{% endblock %}