{% extends "base_generic.html" %}
{% block content %}
  <h1>Treasure List</h1>
  <div><a class="btn btn-primary" href={% url 'create' %}>New</a></div>
  {% if treasure_list %}
  <table cellpadding="10">
      <tr>
          <th>Name</th>
          <th>Clue</th>
          <th>Solution</th>
          <th>Position</th>
           <th>Image</th>
      </tr>
    {% for treasure in treasure_list %}
      <tr>
          <td>
            {{ treasure.name }}
          </td>
          <td>
            {{ treasure.clue }}
          </td>
          <td>
            {{ treasure.solution }}
          </td>
          <td>
            {{ treasure.position }}
          </td>
          <td>
            <img src="/media/{{ treasure.treasure_img }}" width="50px" />
          </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no treasures.</p>
  {% endif %}
{% endblock %}