{% extends "base.html" %}

{% block content %}
  
  <div style="
    text-align: center; 
    padding: 20px;
    float: left;
    width: 250px;
    z-index: -1px;
    margin-bottom: 10px;
  " class="border border-secondary rounded shadow p-3 bg-white">
    <a class="twitter-timeline"
        href="https://twitter.com/CazaLa"
        data-chrome="nofooter noborders"
        data-tweet-limit="3">
        Tweets by @CazaLa
    </a>
  </div>

  <div style="
    text-align: center; 
    padding: 20px;
    float: right;
    width: 250px;
    z-index: -1px;
    margin-bottom: 10px;
  " class="border border-secondary rounded shadow p-3 bg-white">
    <a class="twitter-timeline"
        href="https://twitter.com/CazaLa/likes"
        data-chrome="nofooter noborders"
        data-tweet-limit="3">
        Tweets #LaCazaDelTesoro
    </a>
  </div>

  <div style="
    text-align: center; 
    width: 500px;
    margin: 10px auto;
    z-index: 100;
  ">
    <div style="margin-bottom: 5px" class="border border-secondary rounded shadow p-3 bg-white">
      <h1> 
        LA CAZA DEL TESORO
      </h1>
      <br>
      {% if user.is_authenticated %}

        <p> 
          Logged as {{ user.username }}
        </p>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'logout' %}">
          Log out
        </a>
      
      {% else %}

        <a class="btn btn-primary btn-lg btn-block" href="{% url 'social:begin' 'google-oauth2' %}">
          Sign in with Google
        </a>
      
      {% endif %}
      <br>
      <p style="font-size: 10px;">
          You can see our code on Github: <a style="color:rgba(0,112,255,1);" href="https://github.com/DRTorresRuiz/LaCazaDelTesoro"> La Caza del Tesoro repository</a>
      </p>
    </div>
    <div style="margin-top: 10px;">
        <a class="twitter-follow-button"
        href="https://twitter.com/CazaLa"
        data-show-count="false">
          Follow @CazaLa
        </a>
        <a href="https://twitter.com/intent/tweet?button_hashtag=LaCazaDelTesoro&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #LaCazaDelTesoro</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>  
    <div style="margin-top: 5px; margin-bottom: 5px; text-align: justify;" class="border border-secondary rounded shadow p-3 bg-white">
      {% include "instructions.html" %}
    </div>
  </div>
{% endblock %}


